<div class="jumbotron">
    <h1>SUPER ZAPATOS</h1>
    <p class="lead">La mejor tienda en calzado.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    
</div>